*.class
*.project
*.classpath
*.netbeans_automatic_build
*.jar
*.war
*.properties
*.class
*/.settings/**
*/target/**
.metadata/**
.recommenders/**

*.prefs

Tutorials/imageService/client/out.png

Tutorials/plotterService/bean/.settings/org.eclipse.wst.common.component

GUI/JavaFXMavenGui/target/classes/META-INF/MANIFEST.MF

GUI/JavaFXMavenGui/target/classes/META-INF/MANIFEST.MF
